version: '3.3'
services:

  database:
    image: postgres:13.0-alpine
    restart: always
    volumes:
      - /var/lib/postgresql/data
    env_file:
      - ./.env

  backend:
    build: .
    restart: always
    volumes:
      - static_value:/backend/static/
      - media_value:/backend/media/
    depends_on:
      - database
    env_file:
      - ./.env

  nginx:
    image: nginx:1.19.3
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/

    depends_on:
      - backend

volumes:
  postgres_data:
  static_value:
  media_value: